.slick-track{
    width: 290px;
}


.slick-slide{
    width: 58px !important;
    height: 52px;
    margin-right: 8px;
}
.slick-prev{
    width: 10px;
    height: 52px;
    margin-left: 8PX;
    margin-top: 1px;
}
.slick-next{
    width: 10px;
    height: 52px;
    margin-right: 17.5px;
    margin-top: 1px;
}
.slick-prev::before{
    content: url('/public/assets/left-solid.svg');
    color: black;
    width: 8px;
    height: 12px;
}
.slick-next::before{
    content: url('/public/assets/slick-next.svg');
    color: black;
    width: 8px;
    height: 12px;
}
